html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	font-family: roboto;
	position: relative;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	color: #fff;
	background: #0b192f;
	line-height: 1.6;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

.post-1 {
	background: #B71757;
}
.post-1:before {
	content: '';
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
	background: rgba(183, 23, 87, 0.5);
	transition: all ease-out .3s;
	opacity: 0;
}
.post-1:hover:before {
	content: '';
	opacity: 1;
}


.post-2 {
	background: #0D7E71;
}
.post-2:before {
	content: '';
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
	background: rgba(13, 126, 113, 0.5);
	transition: all ease-out .3s;
	opacity: 0;
}
.post-2:hover:before {
	content: '';
	opacity: 1;
}


.post-3 {
	background: #b1660e;
}
.post-3:before {
	content: '';
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
	background: rgba(177, 102, 14, 0.5);
	transition: all ease-out .3s;
	opacity: 0;
}
.post-3:hover:before {
	content: '';
	opacity: 1;
}

.post-4 {
	background: #d12767;
}
.post-4:before {
	content: '';
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
	background: rgba(209, 39, 103, 0.5);
	transition: all ease-out .3s;
	opacity: 0;
}
.post-4:hover:before {
	content: '';
	opacity: 1;
}


.post-5 {
	background: #2d95bb;
}
.post-5:before {
	content: '';
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
	background: rgba(45, 149, 187, 0.5);
	transition: all ease-out .3s;
	opacity: 0;
}
.post-5:hover:before {
	content: '';
	opacity: 1;
}

* {
	box-sizing: border-box;
}

.wrapper {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 12px;

	display: grid;
	grid-template-columns: repeat(12, [col-start] 1fr);
	grid-gap: 25px;
}

.wrapper>* {
	grid-column: col-start / span 12;
}

.news {
	grid-column: col-start 10 / span 3;
	grid-row: 2/4;
}

.content {
	grid-column: col-start / span 9;
	grid-row: 2 / 4;
}

.head,
.footer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #162b4d;

}

#nav-icon {
	width: 30px;
	height: 15px;
	position: relative;
	margin: 20px auto 5px auto;
	cursor: pointer;
	display: none;
}

#nav-icon span {
	display: block;
	position: absolute;
	height: 1px;
	width: 100%;
	background: #fff;
	border-radius: 0;
	opacity: 1;
	left: 0;
}

#nav-icon span:nth-child(1) {
	top: 0px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#nav-icon span:nth-child(2) {
	top: 8px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#nav-icon span:nth-child(3) {
	top: 16px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.head {
	font-weight: 300;
	color: rgba(255, 255, 255, 1);
	padding: 0 35px;
}

.head-navbar a {
	color: #ffffff;
	text-decoration: none;
	padding: 35px 20px;
	display: inline-block;
	transition: all ease-out .3s;
}

.head-navbar a:hover {
	background: #283d5f;
}

.head-logo {
	font-size: 35px;
	font-size: -webkit-calc(25px + (35 - 25) * ((100vw - 300px) / 1600));
	font-size: -moz-calc(25px + (35 - 25) * ((100vw - 300px) / 1600));
	font-size: calc(25px + (35 - 25) * ((100vw - 300px) / 1600));
	line-height: normal;
	font-weight: 100;
}

.head-logo span {
	color: #B71757;
}

.footer {
	padding: 20px 34px;
	font-weight: 100;
	color: rgba(255, 255, 255, 0.7);
}

.footer-column {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 49.999998%;
	-ms-flex: 0 0 49.999998%;
	flex: 0 0 49.999998%;
	max-width: 49.999998%;
}

.footer-column:last-child {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 9%;
	-ms-flex: 0 0 9%;
	flex: 0 0 9%;
	max-width: 9%;
}

.default-icon {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.article-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	position: relative;

}

.article-item:nth-child(even) {
	display: -webkit-flex;
	/* Safari */
	-webkit-flex-direction: row-reverse;
	/* Safari 6.1+ */
	display: flex;
	flex-direction: row-reverse;
}

.article-item .column {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 49.999998%;
	-ms-flex: 0 0 49.999998%;
	flex: 0 0 49.999998%;
	max-width: 49.999998%;
}

.article-item__content {
	padding: 5% 15% 5% 5%;
	position: relative;
}

.article-item:nth-child(even) .article-item__content {
	text-align: right;
	padding: 5% 5% 5% 15%;
}

.article-item:nth-child(even) .article-item__time {
	right: auto;
	left: 15px;
}

.article-item__content-title {
	font-size: 59px;
	font-size: -webkit-calc(34px + (59 - 34) * ((100vw - 300px) / 1600));
	font-size: -moz-calc(34px + (59 - 34) * ((100vw - 300px) / 1600));
	font-size: calc(34px + (59 - 34) * ((100vw - 300px) / 1600));
	font-family: roboto;
	font-weight: 200;
	line-height: normal;
}

.article-item__content-description {
	font-size: 20px;
	font-size: -webkit-calc(16px + (20 - 16) * ((100vw - 300px) / 1600));
	font-size: -moz-calc(16px + (20 - 16) * ((100vw - 300px) / 1600));
	font-size: calc(16px + (20 - 16) * ((100vw - 300px) / 1600));
	font-weight: 100;
	color: rgba(255, 255, 255, 0.7);
	padding: 25px 0;
}

.article-item__time {
	position: absolute;
	right: 15px;
	top: 15px;
}

.article-item__time-date {
	font-size: 50px;
	font-size: -webkit-calc(40px + (50 - 40) * ((100vw - 300px) / 1600));
	font-size: -moz-calc(40px + (50 - 40) * ((100vw - 300px) / 1600));
	font-size: calc(40px + (50 - 40) * ((100vw - 300px) / 1600));


	font-weight: 100;
	color: rgba(255, 255, 255, 0.5);
	line-height: normal;
}

.article-item__time-month {
	font-size: 35px;

	font-size: -webkit-calc(20px + (35 - 20) * ((100vw - 300px) / 1600));
	font-size: -moz-calc(20px + (35 - 20) * ((100vw - 300px) / 1600));
	font-size: calc(20px + (35 - 20) * ((100vw - 300px) / 1600));


	font-weight: 100;
	color: rgba(255, 255, 255, 0.5);
}

/*news*/

.news-item {
	margin-bottom: 25px;
}

.news-item__icon {
	height: 155px;
}

.news-item__content {
	background: #fff;
	padding: 40px;
	font-family: roboto;
}

.news-item__content-title {

	color: #000;
	font-size: 28px;
	font-size: -webkit-calc(18px + (28 - 18) * ((100vw - 300px) / 1600));
	font-size: -moz-calc(18px + (28 - 18) * ((100vw - 300px) / 1600));
	font-size: calc(18px + (28 - 18) * ((100vw - 300px) / 1600));

	font-weight: 300;
	line-height: normal;
	margin-bottom: 15px;
}

.news-item__content-description {
	color: #b8b8b8;
	font-weight: 200;
}

@media (max-width: 768px) {
	#nav-icon {
		display: block;
	}
	.nav {
		grid-column: col-start 8 / span 5;
	}
	.head-navbar a {
		display: none;
	}
	.head-logo {
		margin: 0 auto;
		width: 100%;
		text-align: center;
		padding: 40px 0;
	}
	.news {
		grid-column: col-start 8 / span 5;
	}

	.content {
		grid-column: col-start / span 7;
		grid-row: 2 / 4;
	}

	.article-item__content,
	.article-item:nth-child(even) .article-item__content {
		padding: 5%;
		text-align: left;
	}

	.article-item .column {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 99.999998%;
		-ms-flex: 0 0 99.999998%;
		flex: 0 0 99.999998%;
		max-width: 99.999998%;

	}

	.article-item__time {
		position: relative;
		right: auto;
		top: auto;
		text-align: center;
	}

	.footer-column,
	.footer-column:last-child {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 99.999998%;
		-ms-flex: 0 0 99.999998%;
		flex: 0 0 99.999998%;
		max-width: 99.999998%;
		text-align: center;
	}

}

@media (max-width: 480px) {
	.wrapper {
		padding: 0 12px;
	}

	.news-item__content,
	.article-item__content,
	.article-item:nth-child(even) .article-item__content {
		padding: 30px;
	}

	.news {
		grid-column: col-start / span 12;
		grid-row: auto;
	}

	.content {
		grid-column: col-start / span 12;
		grid-row: auto;
	}
}
