$primaryColor: #0401ac;
$fontsStyle: 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;

$headerBackground:url('../img/header_background_v2.jpg');
$headerColor: #ff5722;

$contentBackground: #efefef;
$contentColor: #757575;
$articleColor: #ffffff;
$articleTitleColor: #607d8b;
$articleDescriptionColor: #bdc3d4;

$labelColor: #607d8b;
$lineColor: #cfd8dc;

